@font-face{

    font-family: newfont;
    src: url(fonts/Tymeslittlecaps-AwYA.otf);
}




#form{

    background-color: #e5e5f7c5;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "add-book-form add-book-form add-book-form add-book-form"
    "title-label title-label title-label title-label"
    "title-input title-input title-input title-input"
    "author-label author-label author-label author-label"
    "author-input author-input author-input author-input"
    "pages-label pages-label pages-label pages-label"
    "pages-input pages-input pages-input pages-input"
    "readit-label readit-label readit-label readit-label"
    "readit-input readit-input readit-input readit-input";

    width: 50vw;
    position: absolute;
    left: 25vw;
    border-radius: 30px;
    height: 96%;
    box-shadow: -1px 14px 25px -2px rgba(71,71,71,0.47);
    overflow: hidden;
    transition: 0.5s;
}
body{
    margin: 0;
}
#formtit{
    grid-area: add-book-form;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 13vw;
    width: inherit;
    font-size: 4vw;
    background-color: #ffffffe3;
    font-family: newfont;
    text-decoration: underline;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
#titlelabel{
    grid-area: title-label;
    padding-left: 45%;
    font-size: 1.53vw;
}

#title{
    grid-area: title-input;
    border-radius: 20px;
    width: 47vw;
    height: 2vw;
    box-shadow: -1px 3px 14px -2px rgb(71 71 71 / 47%);
    margin-top: 2%;
    margin-bottom: 2%;
}
#authorlabel{
    grid-area: author-label;
    padding-left: 45%;
    font-size: 1.5vw;
}
#author{

    grid-area: author-input;
    border-radius: 20px;
    width: 47vw;
    height: 2vw;
    box-shadow: -1px 3px 14px -2px rgb(71 71 71 / 47%);
    margin-top: 2%;
    margin-bottom: 2%;
}
#pageslabel{

    grid-area: pages-label;
    padding-left: 45%;
    font-size: 1.5vw;
}
#pages{

    grid-area: pages-input;
    border-radius: 20px;
    width: 47vw;
    height: 2vw;
    box-shadow: -1px 3px 14px -2px rgb(71 71 71 / 47%);
    margin-top: 2%;
    margin-bottom: 2%;
}
#readlabel{

    grid-area: readit-label;
    padding-left: 37%;
    font-size: 1.5vw;
    
}
#read{

    grid-area: readit-input;
    margin-left: 45%;
    height: 12%;
    width: 12%;
    border-radius: 10px;
    opacity: 0.9;
}
#read:focus{

    outline: none;
}
#submit{

    grid-area: submit-button;
    grid-area: submit-button;
    position: absolute;
    left: 40%;
    top: 80%;
    height: 10%;
    width: 20%;
    border-radius: 20px;
}
#addicon{

    background-image: url(images/plusicon.svg);
}
#iconclose{
    position: absolute;
    padding-left: 94%;
    padding-top: 1%;
}
#divisor1{
    position: fixed;
    top: 20vh;
    left: 1.5%;
    background-color: #8080800a;
    width: 20vw;
    height: 6vw;
    border-top: 0.11vw solid grey;
    border-bottom: 0.11vw solid grey;
}

#instructions{
    position: relative;
    left: .4vw;
    font-size: 2.5vw
}

.grid-container {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1.1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Nav Header Header Header"
      "Nav Container Container Container"
      "Nav Container Container Container";
      height: 100%;
      width: 100%;
      position: fixed;
  }
  #newbook{

    background: aliceblue url(images/plusicon.png) no-repeat center center;
    background-size: 90%;
    width: 80%;
    height: 10%;
    position: relative;
    left: 10%;
    top: 3%;
    border-radius: 10px;
    box-shadow: 3px 9px 23px -14px rgb(0 0 0 / 75%);
    backdrop-filter: blur(100px);
  }
  #newbook:hover{

    transform: scale(1.2);
    transition: 1.2s;
  }
  #newbook:focus{

    transform: scale(0.9);
    transition: 0.7s;
  }
  .Nav { 
    grid-area: Nav;
    background-color: #5757f79e;}
  .Header { 
    grid-area: Header;
    background-color: #00000eba;}
  .Container { 
    grid-area: Container;
    background-color: #2b64e27d;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.onDisplay{

        width: 15%;
        height: 40%;
        background-color: white;
        border-radius: 10px;
        margin: 5%;
        background-image: url(images/book-icon-hd.png);
        background-position: top;
        background-repeat: no-repeat;
        border: 2px inset white;
        display: flex;
        justify-content: end;
        box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.75);
}
.ondisplaytext{
    position: relative;
    text-shadow: -13px 7px 3px #00000042;
    font-family: newfont;
}
.bookInfo{

    background-color: white;
    width: 100%;
    height: 30%;
    position: relative;
    top: 69.9%;
    overflow: auto;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 7px;
}
.finishedno{

    background-color: red;
    width: 15px;
    height: 15px;
    position: sticky;
    left: 90%;
    top: 0px;
    border-radius: 100%;
    border: 2px solid black;
}
.finishedyes{

    background-color: rgb(0, 255, 13);
    width: 15px;
    height: 15px;
    position: sticky;
    left: 90%;
    top: 0px;
    border-radius: 100%;
    border: 2px solid black;
}

#title:focus, #author:focus, #pages:focus,
#newbook:focus, #submit:focus{

    outline: none;
}
.bookInfo::-webkit-scrollbar{
    background-color: #00000012;
    border-radius: 10px;
}
.bookInfo::-webkit-scrollbar-thumb{
    background-color: #00000012;
    border-radius:  10px;
}
.Container::-webkit-scrollbar{

    background-color: #0000004a
  }
  .Container::-webkit-scrollbar-thumb{
  
    background-color: #00000066;
    border-radius: 10px;
    border: 2px inset #f7f7f773
  
  }
  @media all and (max-width: 500px){

    .onDisplay{
        width: 150px;
        height: 200px;
        background-size: contain;
        background-position-y: 0px;
        background-color: #f7f7f7;
    }

    #form{

        width: 260px;
        height: 290px;
    }
    #iconclose{
        position: absolute;
        padding-left: 220px;
        padding-top: 10px;
        height: 20px;
        width: 40px;
    
    }
    #pageslabel{
        padding-left: 110px;
        font-size: 17px;
    
    }

    #titlelabel{

        font-size: 17px;
        padding-left: 110px;

    }
    #authorlabel{

        font-size: 17px;
        padding-left: 110px;
    }
    #readlabel{

        font-size: 17px;
        padding-left: 45px;
    }
    #submit{

    left: 100px;
    top: 250px;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    font-size: 8px;
    }
    #read{

    margin-left: 105px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    font-size: 8px;
    top: 12px;
    position: relative;
    }
    #title{

        width: 250px;
    }
    #author{

        width: 250px;
    }
    #pages{

        width: 250px;
    }
    #formtit{

        padding-left: 80px;
    }

}